html    
    head
        title= '12'
        link(rel='stylesheet', href='../css/styles.css')
    body    
        div(class=['container', 'roundCorner'])
            h1(id='h1')=Mach12 Merch
            form
                span= Mach12 Microwave
                    select#(name="Microwave")
                        option(value='Microwave ++')
                        option(value='Microwave Chrome')
                        option(value='Microwave Peguine')
                        option(value='Microwave Door +')
                        option(value='Microwave Colour')
                        option(value='Microwave Apple')
                        option(value='Micrcowave Windows')
                        option(value='Microwave M12')
                
                span= Mach12 Dryer
                    select#(name="Dryer")
                        option(value="M12 Dryer")
                        option(value="M12 Dryer Download")
                        option(value="M12 Dryer X")
                        option(value="M12 Dryer Jam")
                        option(value="M12 Dryer ++")
                        option(value="M12 Dryer +++")
                        option(value="M12 Dryer +-+")
                        option(value='M12 Dryer Colour')
                
                span= Mach12 ToasterOven
                    select#(name="ToasterOven")
                        option(value="ToasterOven fire ")
                        option(value="ToasterOven Offline")
                        option(value='ToasterOven Colour') 
                        option(value='ToasterOven M12')'
                        option(value='ToasterOven +') 
                        option(value='ToasterOven Ice') 
                        option(value='ToasterOven Vision')
                        option(value='ToasterOven slingshot')          
   
        
        